.first {
    background-image: linear-gradient(150deg, #2d1582 0, #19a0ff 100%);
    padding: 60px 0;
    text-align: center;
    color: white;
    height: 250px;
}
.first h1{
    margin-top: 100px;
}
.upper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 100px;
    border-radius: 20px;
    margin-bottom: 10px;
    background: #d8dbda;
    color: rgb(3, 214, 241);
}

.text-primary {
    color: #0d6efd;
    text-align: center;
}

.vlog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-bottom: 100px;
}

.vlog-item {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.date {
    font-size: 14px;
    color: #888;
    margin-bottom: 50px;
}

.vlog-title {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
    margin-bottom: 120px;
}

hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid #eee;
    margin-bottom: 20px;
}

.vlog-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.vlog-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.vlog-name {
    font-size: 16px;
    color: #555;
}
.styled-link {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.styled-link:hover {
    color: blue;
}


@media (max-width: 768px) {
    .vlog-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .round-pic {
        width: 150px; height: 150px;
    }
}
@media (max-width: 480px) {
    .vlog-grid {
        grid-template-columns: 1fr;
    }
    .round-pic {
        width: 120px;
        height: 120px;
    }
}
