.about-page-margin{
    max-width: 1110px;
    margin: auto;
    padding-bottom: 120px;

}

.about-img{
    margin-top: 65px;
    width: 100%;
}

.first-h1{
    font-size: 2.5rem;
    font-weight: 300;
}

p{
    margin-top: 15px;
}

.salauddin-h2{
    margin-top: 10px;
    font-size: 1.75rem;
    font-weight: 300;
}

.salauddin-ul{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 50px;
}






/* contact page */

p{
    margin-top: 0;
}

.contact-info-header{
    max-width: 100px;
    margin: 35px auto;
    padding: 10px ;
    color: #00c9a7;
    text-align: center;
    border-radius: 15px ; 
    background-color:rgb(0, 201, 167,0.1);
    font-size: 0.7rem;

}


.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.col{
   text-align: center;
   flex: 1;
   padding: 44px;

}

h2{
    font-size: 1.1rem;
}

.col h2{
    font-weight: normal;
    margin-top: 10px;
}

.col p{
    color: #77838f;
}

.divider {
    width: 1px;                
    align-self: stretch;               
    background-color: #e7eaf3;     
}


.line{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #e7eaf3;
}


@media (max-width:990px) {
    .col{
        flex: 1 1 45%;

    }
    .divider{
        display: none;
    }
}


@media (max-width:575px) {
    .row{
        flex-direction: column;
    }
    
}




p{
    margin-top: 0;
}

.form-header{
    margin: auto;
    margin-top: 140px;
    padding: 10px ;
    border-radius: 15px;
    max-width: 150px;
    background-color:rgb(0, 201, 167,0.1);
    color: #00c9a7;
    text-align: center;
    font-size: .6875rem;


}


.form-header2{
    margin: auto;
    padding: 10px;
    max-width: 400px;
    color: #377dff;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 400;

}


.form-body{
    margin-top: 100px;
    max-width: 880px;
    margin: auto;
}

label{
    font-size: 80%;
    margin-bottom: 9px;
}

span{
    color: red;
}

.row1{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    gap: 40px;

}

.col1{
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width:1050px){
    .row1,.row2{
        margin: 20px;
    }
}


@media (max-width:575px){
    .row1{
        flex-direction: column;
        margin: 20px;

    }
}

input{
    border-radius: 5px;
    border: 1px solid #d5dae2;
    height: 50px;
    outline: none;
    opacity: 0.7;
}

.row2{
    margin-top: 40px;
    margin-bottom: 50px;
}

.col2{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row3{
    margin-top: 40px;
    margin: auto;
    text-align: center;

}

.comments{
    height: 130px;
    border-radius: 5px;
    border: 1px solid #d5dae2;
    outline: none;
    opacity: 0.7;
}

button{
    padding: 10px 40px;
    background-color: #377dff;
    color: #fff;
    font-weight: 300;
    margin-bottom: 200px;
    border: 1px solid gray;
    font-size: 1.4rem;
    border-radius: 7px;

}

button:hover{
    margin-top: -5px;
    transition: all .3s;
}





