.about-page-margin{
    max-width: 1110px;
    margin: auto;
    padding-bottom: 120px;

}

.about-img{
    margin-top: 65px;
    width: 100%;
}

.first-h1{
    font-size: 2.5rem;
    font-weight: 300;
}

p{
    margin-top: 15px;
}

.salauddin-h2{
    margin-top: 10px;
    font-size: 1.75rem;
    font-weight: 300;
}

.salauddin-ul{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 50px;
}











/* -----------------contact page--------------- */



p{
    margin-top: 0;
}

.contact-info-header{
    max-width: 100px;
    margin: 35px auto;
    padding: 10px ;
    color: #00c9a7;
    text-align: center;
    border-radius: 15px ; 
    background-color:rgb(0, 201, 167,0.1);
    font-size: 0.7rem;

}


.contact-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    gap: 20px;
    flex-wrap: wrap;
}

.col{
   text-align: center;
   flex: 1;
   padding: 44px;

}

h2{
    font-size: 1.1rem;
}

.col h2{
    font-weight: normal;
    margin-top: 10px;
}

.col p{
    color: #77838f;
    overflow: hidden;     
    text-overflow: ellipsis; 
    margin: 0;
    padding: 0;
    display: block; 
}

.divider {
    width: 1px;                
    align-self: stretch;               
    background-color: #e7eaf3;     
}


.line{
    margin-top: 40px;
    margin-bottom: 40px;
    width: 100%;
    height: 1px;
    background-color: #e7eaf3;
}



@media (max-width:990px) {
    .col{
        flex: 1 1 45%;

    }
    .divider{
        display: none;
    }
}


@media (max-width:575px) {
    .row{
        flex-direction: column;
    }
    
}




p{
    margin-top: 0;
}

.form-header{
    margin: auto;
    margin-top: 140px;
    padding: 10px ;
    border-radius: 15px;
    max-width: 150px;
    background-color:rgb(0, 201, 167,0.1);
    color: #00c9a7;
    text-align: center;
    font-size: .6875rem;


}


.form-header2{
    margin: auto;
    padding: 10px;
    max-width: 400px;
    color: #377dff;
    text-align: center;
    border-radius: 15px;
    font-size: 2rem;
    font-weight: 400;

}


.form-body{
    margin-top: 100px;
    max-width: 880px;
    margin: auto;
}
 
label{
    font-size: 80%;
    margin-bottom: 9px;
}

.required{
    color: red;
}

.row1{
    margin-top: 35px;
    display: flex;
    justify-content: space-around;
    gap: 40px;

}

.col1{
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media (max-width:1050px){
    .row1,.row2{
        margin: 20px;
    }
}


@media (max-width:575px){
    .row1{
        flex-direction: column;
        margin: 20px;

    }
}

input{
    border-radius: 5px;
    border: 1px solid #d5dae2;
    height: 50px;
    outline: none;
    opacity: 0.7;
}

.row2{
    margin-top: 40px;
    margin-bottom: 50px;
}

.col2{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.row3{
    margin-top: 40px;
    margin: auto;
    text-align: center;

}

.comments{
    height: 130px;
    border-radius: 5px;
    border: 1px solid #d5dae2;
    outline: none;
    opacity: 0.7;
    resize: vertical; 
}

.qna-button{
    padding: 10px 40px;
    background-color: #377dff;
    color: #fff;
    font-weight: 300;
    margin-bottom: 200px;
    border: 1px solid gray;
    font-size: 1.4rem;
    border-radius: 7px;

}

.qna-button:hover{
    margin-top: -5px;
    transition: all .3s;
}




/* Alerts */
.alert {
    padding: 5px;
    margin-top: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}




/* --------admin/pageContent------------ */

.form-div{
    margin: 20px 20%;
    margin-top: 70px;
}

@media (max-width:880px){
    .form-div{
        margin: 20px;

    }
}

@media (min-width: 993px) and (max-width: 1300px){
    .form-div{
        margin-left: 30%;

    }
}

.form-div h2
{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 800 ;
}
#slug{
    border: 1px solid #d5dae2;
    border-radius: 5px;
    height: 40px;
    font-size: 1.3rem;
}

#status{
    border: 1px solid #d5dae2;
    border-radius: 5px;
    height: 40px;
    font-size: 1.3rem;
}


.err-message h1{
    font-size: 1.4rem;
}

option{
    font-size: 1.3rem;
}


.content-input{
    height: 40px;
    font-size: 1.3rem;
}


.about-content-button{
    margin-top: 50px;
}

.form-div .col1 label{
    font-size: 1.5rem;
    font-weight: bold;
}

.form-div .col1 {
    margin-bottom: 30px;
}


#editor2{
    height: 201px;
}





/* -------------Questions List page------------------- */


/* .questions-list-table{
    overflow-x: auto;
} */

/* 
.quesitons-table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

thead {
    display: table-header-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
}

th, td{
    text-align: left;
    font-size: 1.2rem;
    padding: 5px;
}

.questions{
    width: 30%;

}


tr:nth-child(even){
    background-color: #e7eaf3;
}



tr:hover{
    background-color: bisque;
}
 */
.questions-header{
    margin-bottom: 40px;
    text-align: center;
}


.quesitons-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.quesitons-table th, .quesitons-table td {
    padding: 12px 15px;
    border: none;
    font-size: 1rem;
    color: #333;
    vertical-align: middle;
}

.quesitons-table th {
    background-color: #528eb6;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: left;
}

.quesitons-table tr {
    border-bottom: 1px solid #ddd;
}

.quesitons-table tr:nth-child(even) {
    background-color: #f8f8f8;
}

.quesitons-table tr:hover {
    background-color: #f1f1f1;
}




/* .pagination-links{
    background-color: gainsboro;
    margin-top: 90px;
    padding: 10px;
    border-radius: 15px;
}
 */


/* ----------------addUpdateSchool---------------------- */

.school-margin{
    margin: 20px 25%;
    margin-top: 70px;
}

@media (max-width:880px){
    .school-margin{
        margin: 20px;
        margin-top: 70px;

    }
}

.add-school-form{
    margin-bottom: 200px;
    padding: 20px;
    background-color: #f7f8fa;
    
}

.school-header{
    text-align: center;
    margin-bottom: 40px;
}


.school-row{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 30px;

}

.school-col{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.school-col label{
    font-size: 1.2rem;
    font-weight: 500;
}

.school-col input{
    height: 40px;
}

.addUpdate-school-button-div{
    text-align: center;
}

.addUpdate-school-button{
    padding: 5px 40px;
    background-color: #377dff;
    color: #fff;
    font-weight: 300;
    border: 1px solid gray;
    font-size: 1.2rem;
    border-radius: 7px;

}


.addUpdate-school-button:hover{
    margin-top: -2px;
    background-color: #00c9a7;
    transition: all 0.3s;
}


@media (max-width:600px){
    .school-row{
        flex-direction: column;
    }

}



.school-info{
    margin-top: 50px;
    display: flex;
    gap: 80px;
    margin-bottom: 300px;
}


@media (max-width:810px){
    .school-info{
        flex-direction: column;
        gap: 0;
    }

    
}


/* -----------Order update page------------- */

#ajax-form .col1{
    margin-bottom: 30px;
}

#ajax-form label{
    font-size: 1.4rem;
}

#response-message{
    text-align: center;
    background-color: greenyellow;
    padding: 10px;
    display: none;
}

.error{
    color: red;
}

.valid{
    color: green;
}